body{
    font-family: 'Bona Nova', serif;
}
.Orange{
    color: orange;
}
.Gray{
    color: gray;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 500;
    color: white;
    padding: 10px 25px;
    border-radius: 45px;
}
.Container{
    display: flex;
    margin-bottom: 100px;
}
.Half-width{
    width: 50%;
    font-weight: 100;
    padding: 40px 10px 10px 20px;
}
.Half-width img{
    width: 50%;

}