body{
    font-family: 'Bona Nova', serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.Orange{
    color: orange;
}
.Gray{
    color: gray;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 500;
    color: white;
    padding: 10px 25px;
    border-radius: 45px;
}
.Container{
    display: flex;
    margin-bottom: 100px;
}
.exp-container{
    text-align: center;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.exp{
    text-align: left;
}
.exp-area{
    display: flex;
    width: 97%;
    margin: 10px 15px;
    border-radius: 10px;
    box-shadow: 8px 8px 35px tomato;
}
.exp-item{
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.exp-item img{
    width: 100%;
}
.Half-width{
    width: 50%;
    font-weight: 200;
    text-align: left;
    padding: 40px 10px 10px 20px;
}
.Half-width img{
    width: 60%;
    padding-left: 10px;
}
.B-ground{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 103%;
    margin: 0%;
}
#exp-01{
    padding: 10px 20px 20px 110px;
}
#exp-02{
    padding: 10px 20px 20px 110px;
}
#exp-03{
    padding: 10px 20px 20px 110px;
}